@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

.wid-f { width: 100% }

.hei-f { height: 100% }

.of-h { overflow: hidden }

.fat-l { float: left }

.fat-r { float: right }

.pat-5 { padding-top: 5px }

.pat-10 { padding-top: 10px }

.mat-5 { margin-top: 5px }

.mat-10 { margin-top: 10px }

.fot-yhei {   font-family: 'Open Sans', sans-serif; }

.fot-arial {   font-family: 'Open Sans', sans-serif; }

.icon {
  
  zoom: 1;
  vertical-align: middle
}
[class^='ico-'] {
background:url('../../images/themes/simple/ico.png')
}

.ico-bar_edge { background-position: 0 -42px }

.header { background: url('../../images/themes/simple/header.jpg') center no-repeat }

.nav-main { background-color: #0f3fa1 }

.nav-main ul.wrapper>li { background: url('../../images/themes/simple/nav_main-split.gif') center left no-repeat }

.nav-main ul.wrapper>li a { color: #fff; font-weight:bold; }

.nav-main ul.wrapper>li:hover a { color: #fed958 }
[class^='tibar-']>.bar>a {
color:#fff
}
[class^='tibar-']>.bar>a:hover {
color:#fed958
}
[class^='tibar-']>.edge {
background-color:#0f3fa1
}

.tibar-simple { }

.list-aggregate li { list-style:none;  }

.list-aggregate li a { color: #fff ; }
.list-aggregate li i{ color:#fff;}
.list-aggregate li a:hover { color: #fff }
.list-aggregate li span{ color:#fff; display:block;}
.list-aggregate li p { color: #fff ;  }

.list-aggregate li:hover { color: #E81C23}


.content-mar {
	float:right;
	display: block;
	width:60%;
	padding: 1em;
	overflow:hidden;
	margin: 0 auto;

}

.list-wrpaaer{ height:auto; margin-top:11px; overflow:inherit !important;}
.content-mar *{
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
	box-sizing:border-box;
	overflow: visible !important;
}

@media screen and (max-width:1023px) {
.content-mar {
	float: none;
width: 100%;
padding: 1em 0 0em 0;
margin: 0 auto 15px;
height: 26px;
}

}